<!DOCTYPE html>

<html>
    <head>
        <title>Working</title>
    </head>
    <body>
        {{>header}}
        <p class="para">Enter the location and get the latitude 
            and longitude of the given location</p>
        <div>
            <form><input placeholder="location">
            <button>search</button>
            
            </form>
            <p id="msg1"></p>
            <p id="msg2"></p>
            
        </div>
        <script src="/js/app.js"></script>

    </body>
</html>